apiVersion: apps/v1
kind: Deployment
metadata:
  name: olympis-server
spec:
  template:
    spec:
      containers:
        - name: server
          resources:
            requests:
              cpu: "500m"
            limits:
              cpu: "1000m"
