apiVersion: apps/v1
kind: Deployment
metadata:
  name: rq-worker
spec:
  template:
    spec:
      containers:
        - name: rq-worker
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "1000m"
              memory: "512Mi"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: agents-worker
spec:
  template:
    spec:
      containers:
        - name: agents-worker
          resources:
            requests:
              cpu: "200m"
              memory: "1Gi"
            limits:
              cpu: "1000m"
              memory: "3Gi"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: crawler-worker
spec:
  template:
    spec:
      containers:
        - name: crawler-worker
          resources:
            requests:
              cpu: "200m"
              memory: "1Gi"
            limits:
              cpu: "1000m"
              memory: "3Gi"
