apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: rq-worker-scaler
spec:
  minReplicaCount: 1
  maxReplicaCount: 5
  triggers:
  - type: redis
    metadata:
      address: redis-stack:6379
      listName: default
      listLength: "5"
