apiVersion: v1
kind: Service
metadata:
  name: redis-stack
spec:
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
    - name: ui
      port: 8001
      targetPort: 8001
  selector:
    app: redis
  type: ClusterIP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis/redis-stack:latest
          ports:
            - containerPort: 6379
            - containerPort: 8001