apiVersion: batch/v1
kind: Job
metadata:
  name: run-migrations
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  template:
    metadata:
      name: run-migrations
    spec:
      restartPolicy: OnFailure
      containers:
        - name: run-migrations
          image: us-central1-docker.pkg.dev/project-1555c6ef-5e1d-439f-a69/olympis-repo/olympis-server:latest
          imagePullPolicy: Always
          command: ["alembic", "upgrade", "head"]
          envFrom:
            - configMapRef:
                name: olympis-config
            - secretRef:
                name: olympis-secret
