apiVersion: apps/v1
kind: Deployment
metadata:
  name: olympis-server
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: server
          resources:
            requests:
              cpu: "100m"
            limits:
              cpu: "500m"
